In [4]:
import pandas as pd
from multipy.data import neuhaus
from multipy.fwer import bonferroni, holm_bonferroni
from multipy.fdr import lsu #BH

In [5]:
pvals = neuhaus()

In [9]:
df = pd.DataFrame({'Number of feature':(np.arange(15)+1), 'pvalue':pvals})

In [13]:
df['bonferroni'] = bonferroni(pvals, alpha=0.05)
df

    Number of feature  pvalue  bonferroni
0                   1  0.0001        True
1                   2  0.0004        True
2                   3  0.0019        True
3                   4  0.0095       False
4                   5  0.0201       False
5                   6  0.0278       False
6                   7  0.0298       False
7                   8  0.0344       False
8                   9  0.0459       False
9                  10  0.3240       False
10                 11  0.4262       False
11                 12  0.5719       False
12                 13  0.6528       False
13                 14  0.7590       False
14                 15  1.0000       False

In [14]:
df['holm_bonferroni'] = holm_bonferroni(pvals, alpha=0.05)
df

    Number of feature  pvalue  bonferroni  holm_bonferroni
0                   1  0.0001        True             True
1                   2  0.0004        True             True
2                   3  0.0019        True             True
3                   4  0.0095       False            False
4                   5  0.0201       False            False
5                   6  0.0278       False            False
6                   7  0.0298       False            False
7                   8  0.0344       False            False
8                   9  0.0459       False            False
9                  10  0.3240       False            False
10                 11  0.4262       False            False
11                 12  0.5719       False            False
12                 13  0.6528       False            False
13                 14  0.7590       False            False
14                 15  1.0000       False            False

In [15]:
df['benjamin_hochberg'] = lsu(pvals, q=0.05) # q = desired FDR
df

    Number of feature  pvalue  bonferroni  holm_bonferroni  benjamin_hochberg
0                   1  0.0001        True             True               True
1                   2  0.0004        True             True               True
2                   3  0.0019        True             True               True
3                   4  0.0095       False            False               True
4                   5  0.0201       False            False              False
5                   6  0.0278       False            False              False
6                   7  0.0298       False            False              False
7                   8  0.0344       False            False              False
8                   9  0.0459       False            False              False
9                  10  0.3240       False            False              False
10                 11  0.4262       False            False              False
11                 12  0.5719       False            False              False
12                 13  0.6528       False            False              False
13                 14  0.7590       False            False              False
14                 15  1.0000       False            False              False

In [16]:
from statsmodels.stats.multitest import multipletests

In [20]:
reject, p_value_corrected, sidak, bonferroni =  multipletests(pvals, alpha = 0.05, method='sidak')
df['sidak'] = reject
reject, p_value_corrected, sidak, bonferroni =  multipletests(pvals, alpha = 0.05, method='holm-sidak')
df['holm-sidak'] = reject

In [21]:
df

,Number of feature,pvalue,bonferroni,holm_bonferroni,benjamin_hochberg,sidak,holm-sidak
0,1,0.0001,True,True,True,True,True
1,2,0.0004,True,True,True,True,True
2,3,0.0019,True,True,True,True,True
3,4,0.0095,False,False,True,False,False
4,5,0.0201,False,False,False,False,False
5,6,0.0278,False,False,False,False,False
6,7,0.0298,False,False,False,False,False
7,8,0.0344,False,False,False,False,False
8,9,0.0459,False,False,False,False,False
9,10,0.3240,False,False,False,False,False
10,11,0.4262,False,False,False,False,False
11,12,0.5719,False,False,False,False,False
12,13,0.6528,False,False,False,False,False
13,14,0.7590,False,False,False,False,False
14,15,1.0000,False,False,False,False,False